**/*.checksum
target/
spa/
openmrs-config-kenyaemr/
frontend/
frontend.zip
.DS_Store
commit.sh
.idea/
# Playwright and e2e tests
/test-results/
/playwright-report/
/playwright/.cache/
e2e/storageState.json
.env
/node_modules/
#vscode
.vscode/settings.json
